.characters label {
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    display: inline-block;
}

.slider label {
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
}